body{
    padding: 0;
    margin: 0;
}

.one ul{
    width: 100%;
    height: 40px;
    display: flex;
    background-color: rgb(160, 55, 55);
    list-style: none;
    padding: 10px;
}

.two img{
    width: 80px;
    height: 40px;
    margin-left: 120px;
    margin-top: -10px;
}

.one ul li a :hover{
    margin-left: 10px;
    padding: 7px;
    color: rgb(242, 10, 10);
}

.one ul li{
    margin-left: 50px;
    margin-top: 10px
    
}

.three{
    background-color: rgba(201, 101, 116, 0.785);
    width: 102%;
    height: 350px;
    position: sticky;
}

.three h2{
    margin-left: 400px;
    margin-top: -10px;
    padding: 33px;
}

.three h5{
    margin-left: 300px;
    font-size: 20px;
    margin-top: -29px;

}

.three h6{
    margin-left: 500px;
    margin-top: -25px;
    font-size: 20px;
}

.four{
    background-color: brown;
    width: 250px;
    height: 50px;
    margin-left: 510px;
}

.four h3{
    margin-left: 50px;
    padding: 9px;
    
}

.five{
    background-color: white;
    width: 102%;
    height: 40px;

}

.five h3{
    margin-left: 530px;
    padding: 20px;
    font-size: 30px;
}

.five h5{
    margin-left: 490px;
    margin-top: -37px;
    font-size: 20px;
}

.five h6{
    margin-left: 535px;
    font-size: 20px;
    margin-top: -30px;
}

.six{
    background-color: darkolivegreen;
    width: 102%;
    height: 140px;
    margin-top: 150px;
}

.six h2{
    margin-left: 530px;
    padding: 20px;
}

.six h5{
margin-left: 580px;
margin-top: -30px;

}
.six h6{
    margin-left: 520px;
    margin-top: -15px;
    font-size: 12px;
}