body{
    padding: 0;
    margin: 0;
   
}

.one ul{
    width: 100%;
    height: 40px;
    display: flex;
    background-color: rgb(160, 55, 55);
    list-style: none;
    padding: 10px;
}

.two img{
    width: 80px;
    height: 40px;
    margin-left: 120px;
    margin-top: -10px;
}

.one ul li a{
    margin-left: 40px;
    
    color: white;
    text-decoration: none;
    

}
    

.one ul li{
    margin-left: 50px;
    margin-top: 10px;
}

.three{
    background-color: rgba(33, 226, 233, 0.785);
    width: 102%;
    height: 350px;
    position: sticky;
}

.three h2{
    margin-left: 400px;
    margin-top: -10px;
    padding: 33px;
}

.three h5{
    margin-left: 300px;
    font-size: 20px;
    margin-top: -29px;

}

.three h6{
    margin-left: 500px;
    margin-top: -25px;
    font-size: 20px;
}

.four{
    background-color: brown;
    width: 250px;
    height: 50px;
    margin-left: 510px;
}

.four h3{
    margin-left: 50px;
    padding: 9px;
    
}

.five{
    background-color: white;
    width: 102%;
    height: 40px;

}

.five h3{
    margin-left: 530px;
    padding: 20px;
    font-size: 30px;
}

.five h5{
    margin-left: 490px;
    margin-top: -37px;
    font-size: 20px;
}

.five h6{
    margin-left: 535px;
    font-size: 20px;
    margin-top: -30px;
}

.six{
    background-color: darkolivegreen;
    width: 102%;
    height: 140px;
    margin-top: 150px;
}

.six h2{
    margin-left: 530px;
    padding: 20px;
}

.six h5{
margin-left: 580px;
margin-top: -30px;

}
.six h6{
    margin-left: 520px;
    margin-top: -15px;
    font-size: 12px;
}
.seven{
    background-color: rgba(227, 206, 245, 0.863);
    width: 101%;
    height: 50px;
}.seven h2{
    margin-left: 450px;
    margin-top: -10px;
    padding: 12px;
}
.eight{
    width: 101%;
    height: 450px;
    display: flex;
    background-color: rgb(214, 235, 224);
}
.nine img{
    width: 120%;
    height: 300px;
    margin-left: 20px;
}
.nine h4{
    margin-left: 100px;
}
.nine p{
    margin-left: 20px;
}
.ten img{
    width: 100%;
    height: 300px;
    padding: 40px;
    margin-left: 100px;
    padding: 23px;
    margin-top: -20px;

}
.ten h4{
    margin-left: 260px;
}
.ten p{
    margin-left: 120px;
    padding-top: -10px;
}
.eleven{
    width: 101%;
    height: 450px;
    background-color: rgb(239, 229, 202);
    display: flex;
    margin-top: 45px;
}
.twelve h4{
    text-align: center;
}
.twelve img{
    margin-left: 20px;
    width: 90%;
    height: 300px;
}
.twelve p{
    margin-left: 260px;
}
.thirteen h4{
   text-align: center;
}
.thirteen img{
   margin-left: -5px; 
   height: 300px;
   width: 440px;
}
.thirteen p{
    margin-left: 0px;
}
.fourteen{
    background-color: rgb(220, 230, 203);
    width: 101%;
    height: 500px;
    margin-top: 30px;
    display: flex;
}
.fifteen h4{
    text-align: center;

}
.fifteen img{
    height: 300px;
    margin-left: 20px;
    width: 440px;
}
.fifteen p{
    margin-left: 20px;
}
.sixteen h4{
    margin-left: 150px;
}
.sixteen img{
    margin-left: 50px;
    width: 480px;
    height: 300px;
}
.sixteen p{
    margin-left: 50px;
}
.alarm h4{
    text-align: center;
}
.alarm img{
    margin-left: 60px;
    width: 450px;
}
.alarm p{
    text-align: center;
}
.fire img{
    height: 300px;
    width: 480px;
    margin-left: 50px;
}
.fire h4{
   text-align: center;
}
.fire p{
    margin-left: 50px;
}
.light img{
    margin-left: 160px;
    width: 440px;
    height: 300px;
}
.light h4{
    margin-left: 280px;
}
.light p{
    margin-left: 200px;
}
.wh{
    width: 101%;
    height: 60px;
    background-color: rgb(141, 112, 133);
}
.wh p{
    margin-left: 490px;
    font-size: 27px;
    margin-top: 30px;
}
